<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrd9yV-8pmmpLTOzOEs59KvQ8jNtiI1qQ</string>
	<key>GCM_SENDER_ID</key>
	<string>112049537422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userWebAppMultivendor.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-multivendor-cd06c</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-multivendor-cd06c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112049537422:ios:4e5b7fd16d4caa3219e4df</string>
</dict>
</plist>